:root {
  /*----- main colors -----*/
  --main-text-color: #212121;
  --secondary-text-color: #ffffff;
  --acent-color: #2196f3;
}


body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
}

address {
  margin-top: 30px;
  font-style: normal;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  border: 1px solid #ECECEC
}

.header-list {
  display: flex;
  align-items: center;
}

.logo{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196F3;
  text-decoration: none;  
  padding-top: 25px;
  padding-bottom: 24px;
  }
  
.logo-studio{
  color: #000000;
  }

  .nav {
    margin-left: 93px;
  }
  
.navigation {
  font-weight: 500;
  gap: 46px;
  list-style-type: none;
  display: flex;
}

.bookmark {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}

.bookmark:hover,
.bookmark:focus {
  color: var(--acent-color);
}

.contact-list {
  list-style-type: none;
  display: flex;
  margin-left: auto;
  gap: 50px;
}

.contact-header {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.icon-contact {
  margin-right: 10px;
  fill: #757575;
}


.contact-header:hover .icon-contact,
.contact-header:focus .icon-contact {
   fill: #2196F3
}

.contact-header:hover,
.contact-header:focus {
  color: #2196F3;
}

.section1 {
  margin: 0 auto;
  background-image: linear-gradient(to top,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
  url("../images/imghw4.jpg");
  max-width: 1600px;
  height: 600px;
  padding: 200px 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.motto {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
    margin: auto;
    width: 696px;
}

.button-studio {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 41px 10px 42px;
  margin: auto;
  margin-top: 30px;
}

.section-lorem {
  padding: 94px 0;
}

.lorem {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;  
  color: #212121;
  margin-top: 30px;
  margin-bottom: 10px;
}

.lorem-icon {
  width: 270px;
height: 120px;
display: flex;
justify-content: center;
align-items: center;
background-color: #F5F4FA;
border-radius: 4px;
}

.lorem-list {
  display: flex;
  gap: 30px;
}

.lorem-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.offer {
  padding-bottom: 94px;
}

.h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.team {
  background: #F5F4FA;
  padding: 94px 0;
}

.team-list {
    display: flex;
    gap: 30px;
}

.team-box {
  text-align: center;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.descr {
  padding: 30px;
}

.team-names {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-role {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}

.team-icons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: auto;
  margin-top: 16px;
}

.social-icon {
  display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.icon-s {
 fill: #AFB1B8;
}

.social-icon:hover .icon-s,
.social-icon:focus .icon-s {
 fill: #ffffff;
}

.social-icon:hover,
.social-icon:focus {
background: #2196F3;
}

.section-customers {
  padding: 94px 0;
}

.h2-customers {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.customers-icons-list {
  display: flex;
  gap: 30px;
}

.customers-icon-box {
  width: 170px;
  height: 92px;
}

.client-ico {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}

.icon-klienci{
  fill: #AFB1B8;
}
.customers-icons-box:hover,
.customers-icons-box:focus {
  color: #2196F3;
}


.bottom {
  display: flex;
}

.footer {
  background: #2F303A;
  padding: 60px 0;
}

.footer-logo-studio {
  color: #FFFFFF;
  text-decoration: none;
}

.footer-adress {
  color: #FFFFFF;
  text-decoration: none;
}

.adress-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;  
  letter-spacing: 0.03em;
  list-style-type: none;
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-contact:hover,
.footer-contact:focus {
  color: #2196F3;
}

.footer-adress:hover,
.footer-adress:focus {
  color: #2196F3;
}

.join {
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 12px;
    margin-bottom: 20px;
}

.footer-li {
  margin-bottom: 9px;
}

.social-footer {
  margin-left: 70px;
}

.social-icon-footer {
  display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}

.icon-footer {
  fill: #FFFFFF;
}

.social-icon-footer:hover,
.social-icon-footer:focus {
  background: #2196F3;
}

.button-portfolio {
  font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    border-radius: 4px;
    border: 0;
    background: #F5F4FA;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    letter-spacing: 0.03em;
    list-style-type: none;
    padding: 6px 25px 6px 25px;
  }


.button-portfolio:hover {
  background-color: #2196F3;
  color: #FFFFFF
}

.button-list {
  gap: 8px;
  justify-content: center;
  display: flex;
}
.h3-portfolio {
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}
.p-portfolio {
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}

.portfolio-main {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 30px;
}

.section-portfolio {
  padding: 94px 0;
}


.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-item-descr {
  border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 20px 24px;
}

.logo-bottom {
  font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
} 